.clipItem {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 12px;
  transition: all 0.2s ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  &:hover {
    background: rgba(255, 255, 255, 0.08);
    transform: translateX(4px);
  }
}

.thumbnailContainer {
  position: relative;
  width: 80px;
  height: 45px;
  border-radius: 6px;
  overflow: hidden;
  margin-right: 12px;
  flex-shrink: 0;
  
  .thumbnail {
    width: 100%;
    height: 100%;
    background: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .duration {
    position: absolute;
    bottom: 2px;
    right: 2px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1px 4px;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 500;
  }
}

.clipInfo {
  margin-right: 12px;
  flex: 1;
  max-width: 60%;
}

.clipTitle {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  max-width: 500px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.socialButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  
  &:hover {
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
  }
  
  svg {
    width: 16px;
    height: 16px;
  }
}

.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 6px 10px 16px;
  border-radius: 6px;
  color: #ff4757;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: thin solid #333;
  &:hover {
    background: rgba(255, 71, 87, 0.15);
    transform: scale(1.1);
  }
  
  svg {
    width: 24px;
    height: 24px;
  }
}