:root {
  --primary-color: rgba(97, 29, 208, 1);
  --gradient-end: rgba(136, 29, 208, 1);
  --background-color: rgba(7, 3, 22, 1);
  --violet-color: #881dd0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: var(--primary-color);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-color);
  color: white;
  scrollbar-color: var(--primary-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.truncateText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}